@use "../abstracts/functions" as *;

.gradient {
  background: linear-gradient(
    179deg,
    var(--color-white) -106%,
    var(--color-light-gray) 43%,
    var(--color-black) 100%
  );
}

// gardient plus shimmer
.shimmerGradient {
  position: relative;
  /* base gradient */
  @extend .gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shimmerGradient::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;

  /* shimmer layer */
  background: linear-gradient(
    120deg,
    transparent 40%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 60%
  );

  background-size: 200% 100%;
  animation: shimmer 2.5s infinite 0.5s;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  pointer-events: none;
}

.largeText {
  @extend .shimmerGradient;
  font-size: toRem(100);
  font-weight: 600;
  line-height: 1;
}

.mediumText {
  @extend .shimmerGradient;
  font-size: toRem(60);
  font-weight: 600;
  line-height: 1;
}

.normalText {
  @extend .shimmerGradient;
  font-size: toRem(48);
  font-weight: 600;
  line-height: 1.25;
}

.extralargeText {
  @extend .shimmerGradient;
  font-size: toRem(154);
  font-weight: 600;
  line-height: 1;
}

.gradient-text {
  @extend .gradient;
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  color: transparent;
  will-change: transform;
}

// NO scrollbar
.no-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
}

.container {
  @extend .no-scrollbar;
  position: relative;
  max-width: var(--container-width);
  padding-block: toRem(100);
  margin: 0 auto;
}

.link,
.link:visited {
  text-decoration: none;
  color: var(--color-white);
}

//stagger reveal text
.stagger-reveal-container {
  display: inline-block;
  overflow: hidden;
  span {
    display: inline-block !important;
    overflow: hidden;
    line-height: 1.05;

    span {
      display: inline-block;
      // transform: translateY(100%);
      will-change: transform;
    }
  }
}

.border-gray {
  border: solid 2px var(--color-medium-gray);
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-bottom {
  border-bottom: solid 1px var(--color-medium-gray);
}

.border-light {
  border: solid 1px rgba(255, 255, 255, 0.09);
}

.animate-hover2 {
  transition: all 0.3s ease-in-out;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: toRem(-7);
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 2px;
    height: 1px;
    background-color: var(--color-light-gray);
    transition:
      transform 0.3s ease-in-out,
      height 0.2s 0.3s;
    transform: scale(0);
  }
  &:hover::after {
    transform: scale(1);
    height: 2.5px;
  }
}

//Animated button sttyle
.animated-button {
  position: relative;
  overflow: hidden;
  isolation: isolate;

  transition: transform 0.18s ease;

  // background slide layer
  &::before {
    content: "";
    position: absolute;
    border-radius: 0 !important;
    inset: 0;
    background: currentColor;
    transform: translateX(-105%);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0, 1);
    z-index: -1;
  }

  // text layer stays on top
  span,
  .arrow {
    position: relative;
    z-index: 1;
    transition:
      color 0.25s ease,
      transform 0.25s ease;
  }

  // HOVER
  &:hover {
    &::before {
      transform: translateX(0);
    }

    span {
      color: var(--color-invert, #fff);
    }

    .arrow {
      transform: translateX(6px);
    }
  }

  &:hover.bg-black {
    span {
      color: var(--color-invert, #000000);
    }
  }

  // CLICK
  &:active {
    transform: scale(0.96);

    .arrow {
      transform: translateX(4px);
    }
  }
}

.paragraph-text {
  font-size: toRem(18);
  line-height: 1.5;
  color: var(--color-text-gray);
}
