.outliner {
  position: relative;
  z-index: 1;
  -webkit-text-stroke: white 1px;
  -moz-text-stroke: white 1px;
  font-family: Axiforma, sans-serif;
  color: transparent;
  background-image: linear-gradient(
    120deg,
    transparent 40%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 60%
  );
  background-size: 300% 100%;
  background-position: 0% 50%;
  font-weight: bold;
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
}

.shimmer-light {
  mix-blend-mode: screen;
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: -1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
  pointer-events: none;
}

.rotatingText {
  transform-origin: 100px 100px;
  animation: rotate 10s linear infinite;
  color: var(--color-white);
}

.circleText {
  font-size: 0.77rem;
  fill: var(--color-text-gray) !important ;
  letter-spacing: 4.8px;
}

// Hide GSAP elements
.line,
// .line-delayed,
.word {
  opacity: 0;
}

.animate-hover {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  // transform: scale(3);

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    border-radius: 0.556rem;
    filter: blur(10px);
    height: 100%;
    background-color: var(--color-light-gray);
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    transform: scale(2);
    opacity: 0;
  }
}

.cursorShape {
  color: black;
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 100vmax;
  font-size: 1.275rem;
  line-height: 1.25rem;
  position: fixed;
  z-index: 2;
  pointer-events: none;

  @media screen and (width <= 720px) {
    display: none;
  }
}

.sticky {
  // position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.5s;
  transform: translateY(calc(-1 * 80));
}

.sticky-down {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
}

.fadedEdges {
  position: relative;

  &::before,
  &::after {
    content: "";
    z-index: 20;
    position: absolute;
    width: 10rem;
    height: 100%;
    top: 0;
    bottom: 0;
  }

  &::before {
    left: 0;

    background: linear-gradient(
      90deg,
      var(--color-background) 0%,
      var(--color-background) 5%,
      transparent 100%
    );
  }

  &::after {
    right: 0;
    background: linear-gradient(
      270deg,
      var(--color-background) 0%,
      var(--color-background) 5%,
      transparent 100%
    );
  }
}

.projectHover {
  position: relative;
  z-index: 2;
  background: var(--color-background);
  transition: all 0.3s;
  &:hover {
    border-color: var(--color-light-gray);
    box-shadow: 0 0 20px #ffffffaf;
    &::after {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}
