.outliner {
  position: relative;
  z-index: 1;
  -webkit-text-stroke: white 1px;
  -moz-text-stroke: white 1px;
  font-family: Axiforma, sans-serif;
  color: transparent;
  background-image: linear-gradient(
    120deg,
    transparent 40%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 60%
  );
  background-size: 300% 100%;
  background-position: 0% 50%;
  font-weight: bold;
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
}

.shimmer-light {
  mix-blend-mode: screen;
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: -1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
  pointer-events: none;
}

.rotatingText {
  transform-origin: 50% 50%;
  animation: rotate 10s linear infinite;
  color: var(--color-white);
}

.circleText {
  font-size: 0.7rem;
  fill: var(--color-text-gray) !important ;
  letter-spacing: 4.5px;
}

// Hide GSAP elements
.line,
.word {
  opacity: 0;
}

.animate-hover {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  // transform: scale(3);

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    border-radius: 0.556rem;
    filter: blur(10px);
    height: 100%;
    background-color: var(--color-light-gray);
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    transform: scale(2);
    opacity: 0;
  }
}
