@use "../abstracts/functions" as *;
@use "../base/reusables.scss" as *;

.outliner {
  position: relative;
  z-index: 1;
  -webkit-text-stroke: white 1px;
  -moz-text-stroke: white 1px;
  font-family: Axiforma, sans-serif;
  color: transparent;
  background-image: linear-gradient(
    120deg,
    transparent 40%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 60%
  );
  background-size: 300% 100%;
  background-position: 0% 50%;
  font-weight: bold;
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
}

.shimmer-light {
  mix-blend-mode: screen;
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: -1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
  pointer-events: none;
}

.rotatingText {
  transform-origin: 100px 100px;
  animation: rotate 10s linear infinite;
  color: var(--color-white);
}

.circleText {
  font-size: 0.77rem;
  fill: var(--color-text-gray) !important ;
  letter-spacing: 4.8px;
}

// Hide GSAP elements
.line,
// .line-delayed,
.word {
  opacity: 0;
}

.animate-hover {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  // transform: scale(3);

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    border-radius: 0.556rem;
    filter: blur(10px);
    height: 100%;
    background-color: var(--color-light-gray);
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    transform: scale(1);
  }
}

.cursorShape {
  color: black;
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 100vmax;
  font-size: 1.275rem;
  line-height: 1.25rem;
  position: fixed;
  z-index: 2;
  pointer-events: none;

  @media screen and (width <= 720px) {
    display: none;
  }
}

.sticky {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
}

.sticky-down {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
}

.fadedEdges {
  position: relative;

  &::before,
  &::after {
    content: "";
    z-index: 20;
    position: absolute;
    width: 10rem;
    height: 100%;
    top: 0;
    bottom: 0;
  }

  &::before {
    left: 0;

    background: linear-gradient(
      90deg,
      var(--color-background) 0%,
      var(--color-background) 5%,
      transparent 100%
    );
  }

  &::after {
    right: 0;
    background: linear-gradient(
      270deg,
      var(--color-background) 0%,
      var(--color-background) 5%,
      transparent 100%
    );
  }
}

.projectHover {
  position: relative;
  z-index: 2;
  background: var(--color-background);
  transition: all 0.3s;
  &:hover {
    border-color: #737272;
    border-width: 3px;
  }
}

.input-field {
  @extend .border-gray !optional;
  width: 100%;
  background-color: var(--color-dark-gray);
  height: toRem(48);
  outline: none;
  padding: toRem(16);
  font-size: toRem(12);
  line-height: 1.17;
  color: var(--color-white);
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: #8c8c8c;
  }

  &:focus {
    border-color: var(--color-light-gray);
    border-width: 2px;
  }
}
.input-field-error {
  color: #ff4d4f;
  font-size: toRem(12);
  margin-top: toRem(5);

  animation: slideInUp 0.4s ease-in-out forwards;
}

.message-field {
  @extend .input-field;
  height: toRem(154);
  resize: vertical;
}

// border 2.4px
.thick-border {
  border: solid toRem(2.4) var(--color-medium-gray);
}

// Flex col 50px gap
.flex-col-50 {
  display: flex;
  flex-direction: column;
  gap: toRem(50);
}

// Paeagraph line height 1.75
.paragraph-175 {
  line-height: 1.5 !important;

  span {
    display: inline-block;
    color: var(--color-text-gray);
    line-height: 1;
  }
}

//add argin to all children except last
.add-margin-not-last {
  & > *:not(:last-child) {
    margin-bottom: toRem(20);
  }
}
