//Breakpoints
$min-mobile: 300px;
$max-mobile: 576px;

$min-small: 577px;
$max-small: 768px;

$min-medium: 769px;
$max-medium: 992px;

$max-large: 1219px;
$min-large: 992px;
$min-extra-large: 1220px;
$max-extra-large: 1500px;
